.default {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-Size: cover;
  background-Repeat: no-repeat;
  background-Position: center;
  flex-wrap: wrap;
}
.timer {
  font-Size: 100px;
  font-Weight: 700;
  margin:0 60px;
  display: flex;
  flex-Direction: column;
  align-Content: center;
  align-Items: center;
  width: 5%;
  min-Width: 50px;
}
.timerTitle {
  display: block;
  margin-Top: -2px;
  font-Size: 30px;
  font-Weight: 500;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-Size: 50px;
  font-Weight: 700;
}
@media only screen and (max-width: 720px) {

  .timer { 
    font-size: 45px;
    margin: 0 10px;
    width: 5%;
    min-Width: 50px;
  }
  .timerTitle{
    font-Size: 15px;
  }
  .title {
    font-Size: 25px;
    font-Weight: 700;
    text-align: center;
  }

}